/** @format */
:root {
	--primayColor: rgb(14, 159, 255);
	--secondayColor: rgb(255, 14, 235);
	--accentColor: rgb(80, 80, 80);
	--dangerColor: rgb(255, 61, 61);
	--succesedColor: rgb(52, 250, 118);
	--whiteColor: rgb(248, 248, 248);
	--alertColor: rgb(255, 166, 0);
	--fontFamily: Arial, Helvetica, sans-serif;
	--defaultFontSize: 12px;
}
body {
	font-family: var(--fontFamily);
	background-color: #fbfbfb;
}
.app {
	width: 300px;
	max-width: 800px;
	margin: 150px auto;
}
.app-title {
	text-align: center;
	text-transform: capitalize;
}
.app-body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
}
input[type='text'],
#botton {
	display: inline-block;
	padding: 8px;
	outline: none;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 1px 1px #999;
	font-size: calc(var(--defaultFontSize) * 1.2);
}
#botton {
	background-color: var(--primayColor);
	color: var(--whiteColor);
	border: none;
	transition: 0.5s;
}
input[type='text']:focus {
	box-shadow: 0px 0px 10px 3px #999;
	transition: 0.5s;
}
#botton:focus,
#botton:hover {
	box-shadow: 0px 0px 10px 3px var(--primayColor);
}
#result-in-para {
	transition: 1.5s;
	padding: 10px;
}
p {
	text-align: center;
}
.danger {
	background-color: var(--dangerColor);
	color: var(--whiteColor);
	box-shadow: 0 0 10px 4px var(--dangerColor);
}
.succesed {
	background-color: var(--succesedColor);
	box-shadow: 0 0 10px 4px var(--succesedColor);

	color: var(--whiteColor);
}
.alert {
	background-color: var(--alertColor);
	box-shadow: 0 0 10px 4px var(--alertColor);

	color: var(--whiteColor);
}
